.hero-slider {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
  margin-top: 20px;
}

.slides {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* FIXED */
  background: black;
}

/* ARROWS */
.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 45px;
  color: white;
  cursor: pointer;
  padding: 10px;
  user-select: none;
  z-index: 20;
}

.left-arrow {
  left: 20px;
}

.right-arrow {
  right: 20px;
}
